<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySliderLabel" jhiTranslate="callCrmApp.slider.home.createOrEditLabel">Create or edit a Slider</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!slider.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="slider.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="slider.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="slider.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.urlLink" for="field_urlLink">Url Link</label>
            <input type="text" class="form-control" name="urlLink" id="field_urlLink"
                [(ngModel)]="slider.urlLink" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="slider.active" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.createdOn" for="field_createdOn">Created On</label>
            <div class="input-group">
                <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" [(ngModel)]="slider.createdOn"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="callCrmApp.slider.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="slider.content" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
