
<div *ngIf="block">
    <h2><span jhiTranslate="callCrmApp.block.detail.title">Block</span> {{block.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="callCrmApp.block.name">Name</span></dt>
        <dd>
            <span>{{block.name}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.code">Code</span></dt>
        <dd>
            <span>{{block.code}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.urlLink">Url Link</span></dt>
        <dd>
            <span>{{block.urlLink}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.active">Active</span></dt>
        <dd>
            <span>{{block.active}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.createdOn">Created On</span></dt>
        <dd>
            <span>{{block.createdOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.content">Content</span></dt>
        <dd>
            <span>{{block.content}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.block.categoryBlock">Category Block</span></dt>
        <dd>
            <div *ngIf="block.categoryBlockId">
                <a [routerLink]="['/category-block-my-suffix', block.categoryBlockId]">{{block.categoryBlockId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'block-my-suffix/'+ block.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
