
<div *ngIf="categoryBlock">
    <h2><span jhiTranslate="callCrmApp.categoryBlock.detail.title">Category Block</span> {{categoryBlock.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="callCrmApp.categoryBlock.name">Name</span></dt>
        <dd>
            <span>{{categoryBlock.name}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.categoryBlock.code">Code</span></dt>
        <dd>
            <span>{{categoryBlock.code}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.categoryBlock.urlLink">Url Link</span></dt>
        <dd>
            <span>{{categoryBlock.urlLink}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.categoryBlock.active">Active</span></dt>
        <dd>
            <span>{{categoryBlock.active}}</span>
        </dd>
        <dt><span jhiTranslate="callCrmApp.categoryBlock.createdOn">Created On</span></dt>
        <dd>
            <span>{{categoryBlock.createdOn | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-block-my-suffix/'+ categoryBlock.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
