<div>
    <h2>
        <span jhiTranslate="callCrmApp.categoryBlock.home.title">Category Blocks</span>
        <button class="btn btn-primary float-right jh-create-entity create-category-block-my-suffix" [routerLink]="['/', { outlets: { popup: ['category-block-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="callCrmApp.categoryBlock.home.createLabel">
            Create new Category Block
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categoryBlocks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="callCrmApp.categoryBlock.name">Name</span></th>
            <th><span jhiTranslate="callCrmApp.categoryBlock.code">Code</span></th>
            <th><span jhiTranslate="callCrmApp.categoryBlock.urlLink">Url Link</span></th>
            <th><span jhiTranslate="callCrmApp.categoryBlock.active">Active</span></th>
            <th><span jhiTranslate="callCrmApp.categoryBlock.createdOn">Created On</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoryBlock of categoryBlocks ;trackBy: trackId">
                <td><a [routerLink]="['../category-block-my-suffix', categoryBlock.id ]">{{categoryBlock.id}}</a></td>
                <td>{{categoryBlock.name}}</td>
                <td>{{categoryBlock.code}}</td>
                <td>{{categoryBlock.urlLink}}</td>
                <td>{{categoryBlock.active}}</td>
                <td>{{categoryBlock.createdOn | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../category-block-my-suffix', categoryBlock.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category-block-my-suffix/'+ categoryBlock.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'category-block-my-suffix/'+ categoryBlock.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
